$height: 80px;

.a-title {
  background-color: red;
}

#square {
  width: 100px;
  height: 100px;
  background: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
