$height: 80px;

.fix {
  background-color: white;
}

#square {
  width: 100px;
  height: 100px;
  background: rgb(197, 7, 7);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

h2 {
  color: blue;
}

.div2 {
  background-color: white;
}

.pacman {
  margin-top: 30px;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid rgb(47, 0, 255);
  border-left: 60px solid rgb(47, 0, 255);
  border-bottom: 60px solid rgb(47, 0, 255);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
